apiVersion: v1
kind: PersistentVolumeClaim
metadata:
    name: rateuser-pvc
    namespace: prpo-microservices
spec:
  accessModes:
  - ReadWriteOnce
  storageClassName: managed-csi
  resources:
    requests:
      storage: 1Gi
